---
layout: shell-arw-email.njk
issue: 364
issuedate: January 11, 2025
---
<!-- START MAIN CONTENT AREA -->
<tr>
    <td class="wrapper">
        <div style="display: block;margin-bottom: 10px;font-weight: normal;line-height: 1.5;font-family: Helvetica, Arial, sans-serif;font-size: 14px;color: rgb(122, 122, 122);text-align: right"><strong>Issue {{ issue }} </strong>{{ issuedate }}</div>

        <!-- TOP LINKS -->
        <h1 style="display: block;font-size: 20px;font-weight: bold;margin: 0;line-height: 1.3;margin: 0;padding: 0 0 20px 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;font-family: Helvetica, Arial, sans-serif;font-size: 20px;line-height: 1;color: rgb(26, 109, 143);font-weight: normal"><strong>Top links</strong></h1>

        {% for links in collections.links %}
            {% if links.data.linktype == 'link' and links.data.issue == 364 %}
                <p style="font-family: Helvetica, Arial, sans-serif;"><strong><span style="font-size: 18px; color: rgb(241, 89, 42)"><a href="{{ links.data.sourceurl }}{{ links.data.urlparams }}" style="font-weight: inherit; color: rgb(241, 89, 42); font-family: Helvetica, Arial, sans-serif;" data-type="url" target="_blank" data-name="{{ links.data.linkname }}">{{ links.data.title }}</a></span></strong><br>{{ links.data.excerpt }}<br><span class="e2ma-style" style="color: rgb(26, 109, 143)">{{ links.data.source }}</span></p>
            {% endif %}
        {% endfor %}

        <!-- VIDEO -->
        <h1 style="display: block;font-size: 20px;font-weight: bold;margin: 0;line-height: 1.3;margin: 0;padding: 30px 0 20px 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;font-family: Helvetica, Arial, sans-serif;font-size: 20px;line-height: 1;color: rgb(26, 109, 143);font-weight: normal"><strong>Video</strong></h1>

        {% for links in collections.links %}
            {% if links.data.linktype == 'video' and links.data.issue == 364 %}
                <p style="font-family: Helvetica, Arial, sans-serif;"><strong><span style="font-size: 18px; color: rgb(241, 89, 42)"><a href="{{ links.data.sourceurl }}{{ links.data.urlparams }}" style="font-weight: inherit; color: rgb(241, 89, 42); font-family: Helvetica, Arial, sans-serif;" data-type="url" target="_blank" data-name="{{ links.data.linkname }}">{{ links.data.title }}</a></span></strong><br>{{ links.data.excerpt }}<br><span class="e2ma-style" style="color: rgb(26, 109, 143)">{{ links.data.source }}</span></p>
            {% endif %}
        {% endfor %}
    </td>
</tr>
