---json
{
  "permalink": "atom.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Amateur Radio Daily",
    "subtitle": "An aggregate of Ham Radio related news.",
    "url": "https://daily.hamweekly.com/",
    "feedUrl": "https://daily.hamweekly.com/atom.xml",
    "author": {
      "name": "Cale Mooth",
      "email": "k4hck@hamweekly.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.post | reverse %}
  {% if loop.index0 < 20 %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <published>{{ post.date | dateToRfc3339 }}</published>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      &lt;p&gt;Source: &lt;a href="{{ post.data.sourceurl | url }}"&gt;{{ post.data.source }}&lt;/a&gt;&lt;/p&gt;
    </content>
  </entry>
{%- endif %}
{%- endfor %}
</feed>
