<div>
   <h4><a href="https://dhgate.sjv.io/c/5422149/1411800/12108?u=https%3A%2F%2Fwww.dhgate.com%2Fproduct%2Fbaofeng-mini-walkie-talkie-uv-5r-multi-band%2F1087917788.html%3FskuId%3D1459337355098525702
">Baofeng 5R MINI</a></h4>
   <p>Bluetooth Programming</p>
   <span class="date">DHGate</span>
</div>
<div>
   <h4><a href="https://amzn.to/4rAn0p4">Meshtastic HELTEC v3</a></h4>
   <p>Integrated WiFi, Lora, and Bluetooth</p>
   <span class="date">Amazon</span>
</div>
<div>
   <h4><a href="https://dxengineering.pxf.io/QYjJEz">Scratch &amp; Dent Items</a></h4>
   <p>Limited time offers</p>
   <span class="date">DX Engineering</span>
</div>
<div>
   <h4><a href="https://dxengineering.pxf.io/2RajJD">Connectors & Cables</a></h4>
   <p>50-ohm and 75-ohm coaxial cable and cable assemblies</p>
   <span class="date">DX Engineering</span>
</div>