<div>
   <h4><a href="https://cale.go2cloud.org/aff_c?offer_id=78&aff_id=1&source=amateur-radio-daily&aff_sub=dhgate&aff_sub2=baofeng-mini&url_id=28">Baofeng 5R MINI</a></h4>
   <p>Bluetooth Programming</p>
   <span class="date">DHGate</span>
</div>
<div>
   <h4><a href="https://cale.go2cloud.org/aff_c?offer_id=78&aff_id=1&source=amateur-radio-daily&aff_sub=amazon&aff_sub2=heltec-v3&url_id=29">Meshtastic HELTEC v3</a></h4>
   <p>Integrated WiFi, Lora, and Bluetooth</p>
   <span class="date">Amazon</span>
</div>
<div>
   <h4><a href="https://cale.go2cloud.org/aff_c?offer_id=78&aff_id=1&source=amateur-radio-daily&aff_sub=dx-engineering&aff_sub2=scratch-dent&url_id=27">Scratch &amp; Dent Items</a></h4>
   <p>Limited time offers</p>
   <span class="date">DX Engineering</span>
</div>
<div>
   <h4><a href="https://cale.go2cloud.org/aff_c?offer_id=78&aff_id=1&source=amateur-radio-daily&aff_sub=dx-engineering&aff_sub2=coax&url_id=26">Connectors & Cables</a></h4>
   <p>50-ohm and 75-ohm coaxial cable and cable assemblies</p>
   <span class="date">DX Engineering</span>
</div>