{% for event in collections.event | sort(true, false, 'data.eventdate') %}
   <div>
      <span><strong>{{ event.data.eventdate | formatDate }}
         {% if 'eventdateend' in event.data %}
            &mdash; {{ event.data.eventdateend | formatDate}}
         {% endif %}
      </strong></span>
      <h4><a href="{{ event.url | url }}">{{ event.data.title }}</a></h4>
      <p>{{ event.data.excerpt }}</p>
   </div>
{% endfor %}