{% for news in collections.Hamvention | sort(true, false, 'data.date') | limit(11) %}
   <div>
      <h4><a href="{{ news.url | url }}">{{ news.data.title }}</a></h4>
      <p>{{ news.data.excerpt }}</p>
      <span class="date">{{ news.date | formatDate }}</span>
   </div>
{% endfor %}