---
layout: shell.njk
---
      <article class="wrapper">
        <div class="main">
          {{ content | safe }}
        </div>
        <div class="side">
          <div class="box submit-news">
            <h3>Submit a Story</h3>
            <p>From club events to individual projects, we'd like to hear from you and feature your story on Amateur Radio Daily.</p>
            <p>Email your story to <a href="mailto:k4hck@hamweekly.com">k4hck@hamweekly.com</a></p>
          </div>
        </div>
      </article>