---
layout: shell.njk
---
      <h1 class="full-bleed home-header">Amateur Radio Daily</h1>
      <p class="full-bleed">Amateur Radio Daily is an aggregate of notable news happening in the world of Ham Radio.</p>
      <article class="wrapper">
        <div class="main">
          {{ content | safe }}
        </div>
        <div class="side">
          {% include 'sidebar-content.njk' %}
        </div>
      </article>