---
layout: shell.njk
---
      <article class="wrapper">
        <div class="main">
          {{ content | safe }}
        </div>
        <div class="side">
          <div class="box submit-news">
            <h3>Submit a Story</h3>
          </div>
        </div>
      </article>