---
layout: shell.njk
---
      <article class="wrapper">
        <div class="main">
          {{ content | safe }}
        </div>
        <div class="side">
          {% include 'sidebar-content.njk' %}
        </div>
      </article>
      <section class="recent">
        <h3 class="section-header">Recent News</h3>
        {% include 'recent-news.njk' %}
      </section>
      <section class="events">
        <h3 class="section-header">Upcoming Events</h3>
        {% include 'upcoming-events.njk' %}
      </section>
      <section class="recent">
        <h3 class="section-header">Hamvention</h3>
        {% include 'hamvention.njk' %}
        <a href="/tags/hamvention/">View all Hamvention posts</a>
      </section>
