---
layout: shell.njk
---
      <article class="wrapper">
        <h1 class="full-bleed">{{ title }}</h1>
        <div class="main">
          <span class="post-date">{{ date | formatDate }}</span>
          {{ content | safe }}
          <p class="source">Source: <a href="{{ sourceurl | url }}">{{ source }}</a>&nbsp;<span class="material-symbols-outlined"></span></p>
        </div>
        <div class="side">
          {% include 'sidebar-content.njk' %}
        </div>
      </article>
      <section class="single-post-ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4415484158732311"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4415484158732311"
            data-ad-slot="5804825909"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </section>
      <section class="recent">
        <h3 class="section-header">Recent News</h3>
        {% include 'recent-news.njk' %}
      </section>
      <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "headline": "{{ title }}",
        "image": [
          "https://daily.hamweekly.com/images/amateur-radio-daily.png"
        ],
        "datePublished": "{{ date | formatISO8601Date }}",
        "dateModified": "{{ date | formatISO8601Date }}",
        "author": [{
            "@type": "Person",
            "name": "K4HCK Cale",
            "url": "https://daily.hamweekly.com/about/"
          }]
      }
      </script>