---
layout: page.njk
---
    <main>
      <article class="wrapper">
        <h1 class="full-bleed">{{ title }}</h1>
        <span class="date">{{ date | formatDate }}</span>
        {{ content | safe }}
        <p class="source">Source: <a href="{{ sourceurl | url }}">{{ source }}<span></span></a></p>
      </article>
    </main>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HR844EZ86W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HR844EZ86W');
    </script>