---
layout: shell.njk
---
      <article class="wrapper">
        <h1 class="full-bleed">{{ title }}</h1>
        <div class="main">
          <span class="date">{{ date | formatDate }}</span>
          {{ content | safe }}
          <p class="source">Source: <a href="{{ sourceurl | url }}">{{ source }}</a>&nbsp;<span class="material-symbols-outlined">
  open_in_new
  </span></p>
        </div>
        <div class="side">
          <div class="box submit-news">
            <h3>Submit a Story</h3>
            <p>From club events to individual projects, we'd like to hear from you and feature your story on Amateur Radio Daily.</p>
            <p>Email your story to <a href="mailto:k4hck@hamweekly.com">k4hck@hamweekly.com</a></p>
          </div>
        </div>
      </article>