{% for event in collections.futureevents | limit(10) %}
   <div>
      <span><strong>{{ event.data.eventdate | formatDate }}
         {% if event.data.eventdateend > event.data.eventdate %}
            &mdash; {{ event.data.eventdateend | formatDate}}
         {% endif %}
      </strong></span>
      <h4><a href="{{ event.url | url }}">{{ event.data.title }}</a></h4>
      <p>{{ event.data.excerpt }}</p>
   </div>
{% endfor %}