---
layout: shell-arw-archive.njk
subject: 
issue: 430
issuedate: July 18, 2026
tags:
- emailarchive
---
<div class="archive-issue-date"><strong>Issue {{ issue }} </strong>{{ issuedate }}</div>
                <h1>Top links</h1>{% for links in collections.links %}{% if links.data.linktype == 'link' and links.data.issue == issue %}
                <p><span class="archive-headline"><a href="{{ links.data.sourceurl }}{{ links.data.urlparams }}" target="_blank">{{ links.data.title }}</a></span><br>{{ links.data.excerpt }}<br><span class="archive-source">{{ links.data.source }}</span></p>{% endif %}{% endfor %}
                <!-- EVENTS -->  
                <div class="events">
                <h1><strong>Upcoming Events</strong></h1>
                {% for event in collections.futureevents limit:4 %}
                    <p><a href="{{ event.data.sourceurl }}" target="_blank">{{ event.data.title }}</a></span><br><strong>{{ event.data.eventdate | formatDate }}</strong></p>
                {% endfor %}
                </div>
                <h1>Video</h1>{% for links in collections.links %}{% if links.data.linktype == 'video' and links.data.issue == issue %}
                <p><span class="archive-headline"><a href="{{ links.data.sourceurl }}{{ links.data.urlparams }}" target="_blank">{{ links.data.title }}</a></span><br>{{ links.data.excerpt }}<br><span class="archive-source">{{ links.data.source }}</span></p>{% endif %}{% endfor %}