---
title: About the Amateur Radio Weekly email newsletter
excerpt: Amateur Radio Weekly is an email newsletter for the ham radio enthusiast. It features the best news, videos, articles, events, and how-to instructions published for the world of hams.
layout: arw-shell.njk
---
<div class="wrapper-single">
    <div class="about">
        <h1>About Amateur Radio Weekly</h1>
        <p>The <a href="https://hamweekly.com/archive/issues/amateur-radio-weekly-issue-1.html">first</a> Amateur Radio Weekly newsletter was published by <a href="https://calemooth.com/">Cale Mooth</a> (<a href="https://www.qrz.com/db/K4HCK">K4HCK</a>) in 2014. At the time, as a UX Designer and Front-End Developer for the web, I kept up with industry trends through email publications such as <a href="https://javascriptweekly.com/">JavaScript Weekly</a> and many of the other great newsletters coming out of <a href="https://cooperpress.com/">Cooperpress</a>. I also happened to be working for an <a href="https://myemma.com/">email service provider</a>. With access to email publishing tools and noting the lack of email based content for Ham's, Amateur Radio Weekly was born as a way to help Radio Amateurs keep a pulse on the hobby.</p>

        <p>10+ years and <a href="archive/">400+ issues</a> later, Amateur Radio Weekly continues to provide weekly insight into what's happening in the world of Ham Radio.</p>

        <p>Be sure to click over to the <a href="links/">links page</a> to see other great content providers as well as non-ham radio newsletters that have inspired this one over the years.</p>

        <p>Starting in 2023, Amateur Radio Weekly now has a daily companion, <a href="">Amateur Radio Daily</a>. This project is a web based news site that publishes Ham Radio news and events daily.</p>

        <p>In 2024, <a href="https://archive.org/">Internet Archive</a>'s <a href="https://archive.org/details/dlarc">Digital Library of Amateur Radio & Communications</a> added Amateur Radio Weekly to its <a href="https://archive.org/search?query=creator%3A%22Cale+Mooth+K4HCK%22">collection</a> and continues to add new issues as they're published. I'm honored at the potential for this project to be preserved for years to come. Thank you DLARC!</p>

        <p>Huge thank you to <a href="https://myemma.com/">Emma</a> for providing the ability to publish this newsletter each week.</p>

        <p class="quiet">The iPhone template used on the home page is from <a href="https://www.freepik.com/free-psd/realistic-front-view-smartphone-psd-mockup_59515198.htm#fromView=keyword&page=1&position=7&uuid=b970eea8-a396-4ec9-a83b-b28a2882d5c1&query=Iphone+mockup">vector_corp on Freepik</a>.</p>
    </div>
</div>
