---
title: About the Amateur Radio Weekly email newsletter
excerpt: Amateur Radio Weekly is an email newsletter for the ham radio enthusiast. It features the best news, videos, articles, events, and how-to instructions published for the world of hams.
layout: arw-shell.njk
---
<div class="wrapper-single">
    
    <div>
        <h1>About Amateur Radio Weekly</h1>
        <p>Amateur Radio Weekly has been published on a weekly basis since 2014. Over 400 issues have landed in inboxes during that time.</p>

        <a href="https://www.freepik.com/free-psd/realistic-front-view-smartphone-psd-mockup_59515198.htm#fromView=keyword&page=1&position=7&uuid=b970eea8-a396-4ec9-a83b-b28a2882d5c1&query=Iphone+mockup">Image by vector_corp on Freepik</a>
    </div>
</div>
