---
title: Amateur Radio Weekly email newsletter featuring news, events, and videos
excerpt: Amateur Radio Weekly is an email newsletter for the ham radio enthusiast. It features the best news, videos, articles, events, and how-to instructions published for the world of hams.
layout: arw-shell.njk
---
<div class="wrapper-home">
    <div class="iphone-display">
        <a href=""><img src="/images/arw-iphone.png"></a>
    </div>
    <div class="sign-up">
        <h1>Amateur Radio Weekly</h1>
        <p>Sent every Saturday, Amateur Radio Weekly is an email newsletter featuring links to the most relevant news, projects, technology, videos, and events happening in Ham Radio. <a href="https://hamweekly.com/archive/issues/amateur-radio-weekly-issue-400.html">Read a sample issue</a>.</p>
        <p>Join 8,000+ Hams and sign-up.</p>
        <p>
            <form id="signup" action="/signup.php" method="post">
                <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                <input type="email" name="email" placeholder="Enter your email address"><button id="button">Subscribe</button>
            </form>
        </p>
        <p class="quiet">Amateur Radio Weekly will never sell or give your email address away.</p>
    </div>
</div>
<div class="wrapper-home">
    <div class="sign-up">
        <h2>What Other Hams Are Saying</h2>
        <blockquote><p>Outstanding<br><span class="quiet">&mdash;NA4C</span></p></blockquote>
        <blockquote><p>I like the short, concise format.<br><span class="quiet">&mdash;K9MIT</span></p></blockquote>
        <blockquote><p>A good weekly newsletter that should interest any active Ham or geek.<br><span class="quiet">&mdash;N4OAH</span></p></blockquote>
        <blockquote><p>I enjoy ARW. It&rsquo;s my only newsletter.<br><span class="quiet">&mdash;KK4YMI</span></p></blockquote>
    </div>
    <div class="sign-up">
        <h2>About Amateur Radio Weekly</h2>
        <p>The objective of Amateur Radio Weekly (ARW) is to help promote Amateur Radio both as a hobby and as a community resource by highlighting and sharing the most exceptional Ham Radio content on the web. ARW promotes the latest cutting-edge ideas, technology, and methods found in the hobby today. <a href="about/">Learn more about Amateur Radio Weekly</a>.</p>
        <p>If you have a project or something else you think the world of Ham Radio should know about, <a href="mailto:k4hck@hamweekly.com">send it in</a> to be published. ARW is always on the lookout for good content to share.</p>
        <p><strong>Get in touch:</strong> <a href="mailto:k4hck@hamweekly.com">Email</a> | <a rel="me" href="https://mastodon.radio/@K4HCK">Mastodon</a></p>
    </div>
</div>
<div class="wrapper-single web-ring">
    <nav>
        Fediverse.Radio Web Ring<br/>
        <a href="https://ring.fediverse.radio/ring.php?site=hamweekly.com&direction=previous">← Back</a>
        <a href="https://ring.fediverse.radio/ring.php?site=hamweekly.com&direction=random">↑ Random</a>
        <a href="https://ring.fediverse.radio">↓ Ring Home</a>
        <a href="https://ring.fediverse.radio/ring.php?site=hamweekly.com&direction=next">Next →</a>
    </nav>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeGkNoeAAAAAAiA5lwLf9zmj7nAtfI3O5KEaiPG"></script>