---
title: Amateur Radio Weekly Newsletter
excerpt: 
layout: arw-shell.njk
---
<div class="wrapper-home">
    <div>
        <img src="">
    </div>
    <div>
        <h1>Amateur Radio Weekly</h1>
        <p>Sent every Saturday, Amateur Radio Weekly is an email newsletter featuring links to the most relevant news, projects, technology, videos, and events happening in Ham Radio. <a href="">Read a sample issue</a>.</p>
        <p>Join 8,000+ Hams and sign-up.</p>
    </div>
</div>