---
title: Links of interest related to the Amateur Radio Weekly email newsletter
excerpt: Amateur Radio Weekly is an email newsletter for the ham radio enthusiast. It features the best news, videos, articles, events, and how-to instructions published for the world of hams.
layout: arw-shell.njk
---
<div class="wrapper-single">
    <div class="about">
        <h1>Links of Interest</h1>

        <h2>Ham Radio Email Newsletters</h2>
        <ul>
            <li><a href="https://www.zeroretries.org/">Zero Retries</a></li>
            <li><a href="https://www.randomwire.us/">The Random Wire</a></li>
            <li><a href="https://n2rj.substack.com/">Ria's Ham Shack</a></li>
            <li><a href="https://g5doc.substack.com/">73 from G5DOC</a></li>
            <li><a href="https://mvarc.substack.com/">Amateur Radio News and Notes</a></li>
        </ul>

        <h2>Ham Radio Podcasts and More</h2>
        <ul>
            <li><a href="https://www.icqpodcast.com/">ICQ Amateur / Ham Radio Podcast</a></li>
            <li><a href="https://lhspodcast.info/">Linux in the Ham Shack</a></li>
            <li><a href="https://podcasts.vk6flab.com/podcasts/foundations">Foundations of Amateur Radio</a></li>
            <li><a href="https://www.storeandforwardradio.org/">Store and Forward</a></li>
            <li><a href="https://www.youtube.com/channel/UCSQhXfGo_68Ta8-2wStAWkw">KM4ACK</a></li>
            <li><a href="https://hamsradio.net/ham/">Ham's Radio</a></li>
            <li><a href="https://hamradionetwork.com/prepcomms">Prep Comms</a></li>
            <li><a href="https://hamradio360.com/">HamRadio360</a></li>
        </ul>

        <h2>Non-Ham Radio Email Newsletters</h2>
        <p>The newsletters have inspired Amateur Radio Weekly over the years.</p>

        <ul>
            <li><a href="https://sidebar.io/">sidebar.io</a></li>
            <li><a href="https://simplebits.com/notebook/studio-notes-57/">Studio Notes</a></li>
            <li><a href="https://www.theverge.com/installer-newsletter">Installer</a></li>
            <li><a href="https://www.itsnicethat.com/newsletters">It's Nice That</a></li>
            <li><a href="https://www.revuecolle.com/">Collé</a>
            <li><a href="https://www.densediscovery.com/">Dense Discovery</a></li>
            <li><a href="https://chicagographicdesignclub.substack.com/">The Chicago Graphic Design Club</a></li>
            <li><a href="https://newsletter.uxdesign.cc/">UX Collective</a></li>
        </ul>
    </div>
</div>
