---
title: Thanks for signing up for the Amateur Radio Weekly email newsletter
excerpt: Amateur Radio Weekly is an email newsletter for the ham radio enthusiast. It features the best news, videos, articles, events, and how-to instructions published for the world of hams.
layout: arw-shell.njk
---
<div class="wrapper-single">
    <div class="about">
        <h1>Success!</h1>
        <p>Thanks for signing up for Amateur Radio Weekly. The next issue is scheduled to arrive in inboxes on Saturday at 6:00 AM Central Time.</p>
        <p>In the meantime, view the <a href="/archive/">archive</a> or say hello on <a href="https://mastodon.radio/@K4HCK">Mastodon</a>.</p>
        <p>Cheers,<br>K4HCK</p>        
    </div>
</div>
