---
title: ISS SSTV Verification Test Oct 27-Nov 1
excerpt: The SSTV system will be activated to attempt to verify a replacement piece of hardware.
source: AMSAT UK
sourceurl: https://amsat-uk.org/2023/10/25/iss-sstv-verification-test-oct-27-nov-1/
linkname: iss-sstv-verification
urlparams: '?utm_source=amateur-radio-weekly&utm_medium=email&utm_campaign=newsletter'
headerimage: arw-header.gif
linktype: link
order: 20
issue: 304
---
